.attribution { 
  font-size: 11px; 
  text-align: center;  
  position: fixed;
  bottom: 10px; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

html, body{
  height:100%;
}

body{  
  font-family: 'Manrope', sans-serif;
  display:grid;
  background-color: hsl(210, 46%, 95%);
  grid-template-columns: 25% 50% 25%;
  /* grid-template-rows: 200px auto auto 20px; */
  grid-template-rows: 31% 38% 21% 10%;
  margin:0px;
  position: relative;
}

.container{
  border: hidden;
  background-color: white;
  border-radius: 25px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display:grid;
  min-height: 250px;
  height: 299.81px;
  display: flex;
  flex-direction: row;
  max-width: 800px;
  overflow: hidden;
}

.article-image{
  max-width: 325px;
  overflow: hidden;
  max-height: inherit;
}

.drawers{
  max-width: 375px;
}

.text{
  display:grid;
  max-width: 475px;
  grid-template-columns: 10px 10px 10px auto 50px 10px 10px 10px;
  grid-template-rows: 20px 130px 80px 50px 20px;
}
h1{
  font-size: 25px;
}
.headline{
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  max-width: 415px;
}
.blurb{
  color:  hsl(217, 19%, 35%);
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 4;
  font-size: 14px;
  padding: 5px 0px ;
  max-width: 415px;
}
.author{
  max-height:50px;
  display: flex;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
  max-width: 415px;
}
.author-pic{
  border-radius: 100%;
  width:50px;
}
.author-details{
  padding-left:20px;
  margin-right:100px;
}
.name{
  font-weight: 700;
}
.date{
  color:  hsl(217, 19%, 35%);
}
.share{
  display: flex;
  justify-self: flex-end;
}
.icon-container{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  display:flex;
  align-content: center;
  justify-content: center;
}
.share-btn{
  border:hidden;
  border-radius: 100%;  
  background-color: hsl(210, 46%, 95%);
  padding:10px;
  position: relative;
  top: 10px;
}

/* code from http://projects.verou.me/bubbly/ for speech bubble */
.social-media{
  background: #48556a;
  border-radius: .4em;
  display:none;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 220px;
  position: absolute;
  border: hidden;
  border-radius: 15px;
  bottom:320px;
  color:hsl(212, 23%, 69%);
  padding:10px;
  z-index: 1;
}

.social-media:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #48556a;
  border-bottom: 0;
  margin-left: -20px;
  margin-bottom: -20px;
}

li{
  display: inline;
}

.icon{
  padding:10px;
}

@media screen and (max-width:1555px) {
  body{
    grid-template-columns: 15% 70% 15%;
  }

  .headline{
    grid-column-start: 3;
    grid-column-end: 7;
  }

  .blurb{
    grid-column-start: 3;
    grid-column-end: 7;
  }
  .author{
    grid-column-start: 3;
    grid-column-end: 7;
  }
}

@media screen and (max-width:1081px) {
  body{
    grid-template-columns: 10% 80% 10%;
  } 
  .headline{
    grid-column-start: 2;
    grid-column-end: 8;
  }

  .blurb{
    grid-column-start: 2;
    grid-column-end: 8;
  }
  .author{
    grid-column-start: 2;
    grid-column-end: 8;
  }
}

@media screen and (max-width:925px) {
  body{
    grid-template-columns: 5% 90% 5%;
  }
}

@media screen and (max-width:825px) {
  body{
    grid-template-columns: 5% 90% 5%;
  }
  .text{
    grid-template-rows: 5px 150px 80px 50px 20px;
  }
}

@media screen and (max-width:653px) {
  body{
    height: initial;
    display:flex;
    align-content: center;
    justify-content: center;
    position:initial;
  }
  .container{
    margin-top: 100px;
    flex-direction: column;
    max-width: 300px;
    height: 516px;
    position: relative;
  }
  .article-image{
    overflow:hidden;
    max-height: 220px;
  }
  .drawers{
    width:300px;
  }
  h1{
    font-size: 15px;
  }
  .attribution{
    position: fixed;
    bottom:0px; 
  }
  .text{
    display: flex;
    flex-direction: column;
    padding:20px;
  }
  .author{
    padding-top: 20px;
    font-size: 13px;
  }
  .author-pic{
    width:40px;
    height:40px;
  }
  .author-details{
    margin-right:30px;
    padding-left: 10px;
  }
  .icon-container{
    padding-top: 10px;
    padding-left: 10px;
  }
  .share-btn{ 
    background-color: lightgray;
    left:10px;
    top:0px;
    z-index: 2;
    }
  .social-media{
    bottom:0px;
    right:0px;
    border-radius: 0%;
    z-index: 1;
    padding-right: 72px;
  }
  .social-media:after{
    display:none;
  }
}
